@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');

body{
    font-family: 'Inconsolata', monospace;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.area-botoes{
    margin-top: 14rem;
}

.button{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    width: 6rem;
    height: 3rem;
    border-radius: 0.3rem;
    transition: 0.3s;
}

.button:hover{
    scale: 1.1;
    cursor: pointer;
}

.button#iniciar{
    background-color: #00ff2f;
}
.button#pausar{
    background-color: #ffea00;
}
.button#parar{
    background-color: #ff0000;
}